// Teacher List //

@import '../../assets/styles/breakpoint.scss';

// #page-teacher-list {
// width: 100vw;
// height: 100vh;
// margin-top: 300px;
// }

#search-teachers {
    margin-top: 3.2rem;
}

main {
    display: grid;
    width: 100vw;
    background-color: aqua;
}

@media (min-width: 700px){
    #search-teachers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
        position: absolute;
        bottom: -44px;
    }

    #search-teachers {
        margin-top: 0;
    }

    .input-block + .input-block {
        margin-top: 0;
    }
}

