// Teacher List //

@import '../../assets/styles/breakpoint.scss';

.main-teacher-list {
  background-color: var(--color-box-base);
  margin: 0 auto;
  width: 90vw;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
  overflow: hidden;
  // height: 100vh;
  // display: grid;
}

// #page-teacher-list {
// width: 100vw;
// height: 100vh;
// margin-top: 300px;
// }

#search-teachers {
    margin-top: 3.2rem;
}


@media (min-width: 700px){
    #search-teachers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
        // position: absolute;
        // bottom: -44px;
    }

    #search-teachers {
        margin-top: 0;
    }

    .input-block + .input-block {
        margin-top: 0;
    }
}

