// Teacher List //

@import '../../assets/styles/breakpoint.scss';

.main-teacher-list {
  background-color: var(--color-box-base);
  margin: 0 auto;
  width: 90vw;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
  overflow: hidden;
  // height: 100vh;
  // display: grid;
}

// #page-teacher-list {
// width: 100vw;
// height: 100vh;
// margin-top: 300px;
// }

#search-teachers {
    margin-top: 3.2rem;
}

button {
    width: 100%;
    // height: 1,4rem;
    background: var(--color-secundary);
    color: var(--color--button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transform: background-color 0.2s;
    margin-top: 2.4rem;
}

button:hover {
    background: var(--color-secundary-lighter);
}

@media (min-width: 700px){
    #search-teachers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        // position: absolute;
        // bottom: -44px;
    }

    #search-teachers {
        margin-top: 0;
    }

    .input-block + .input-block {
        margin-top: 0;
    }
}

