// PageHeader //

@import '../../assets/styles/breakpoint.scss';
 
@mixin container-header {
    margin: 0 auto;
}

.container-header {
    @include container-header;
    padding: 1.6rem;
    width: 100vw;
    height: 200px;
    background-color: var(--color-primary);
    // position: relative;
    // flex-direction: column;

    &-top-bar {
        @include container-header;
        display: flex;
        width: 90%;
        justify-content: space-between;
   
    }
    
    &-content {
        @include container-header;
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (min-width: 700px) {
    .container-header {
        &-top-bar {
            justify-content: space-between; 
        }
        
        &-content {
            flex-direction: column;       
        }
    }
}

.image {
    &-back {
        height: 1.6rem;
    }

    &-logo {
        height: 2.6rem;
    }
}

// TYPOGRAPHIC

.page-title {
    max-width: 350px;
    color: var(--color-text-in-primary);
    line-height: 4.2rem;
    font: 700 2.6rem Archivo;
}

p { color: var(--color-text-in-primary); }